<div class="status-container d-flex flex-column">
  <div class="row">
    <div class="col-md-4 mb-3">
      <h3 class="primary-text">Mobile Native Plugins</h3>
      <!--Panel-->
      <div class="card card-body text-center">
        <div #qrcode class="qr-code-container mb-2"></div>
        <p class="mb-1">{{ server.pin }}</p>
        <p class="grey-text mb-1" [translate]="'status.message_code_scan_instructions'">
          Scan this code with the camera on your iOS device to add to Apple Home.
        </p>
      </div>
      <!--/.Panel-->

    </div>

    <div class="col-md-8">
      <h3 class="primary-text" [translate]="'status.title_server_status'">Mobile Native Plugin Status</h3>

      <!--Panel-->
      <div class="card card-body mb-3">
        <div class="d-flex flex-row">
          <h5 class="mb-0 mr-auto">Native Plugin</h5>
          <p *ngIf="homebridge.fork" class="mb-0 d-none d-sm-inline grey-text"
            [innerText]="homebridge.fork | lowercase">
          </p>
        </div>
        <div class="d-flex flex-row">
          <div class="d-flex p-1">
            <div class="p-3">
              <i class="material-icons status-circle bg-status-green spin">&#xE863;</i>
            </div>
            <div class="align-self-center">
              <span>
                Current Version
              </span>
              <br>
              <span class="grey-text"><span class="d-none d-sm-inline">Ver.</span>
                {{ homebridge.installedVersion }}</span>
            </div>
          </div>
        </div>
      </div>
      <!--/.Panel-->

      <!--Panel-->
      <div class="card card-body mb-3">
        <h5 class="mb-0" [translate]="'status.services.title_services'">Services</h5>
        <div class="d-flex flex-row">
          <div class="d-flex p-1">
            <div class="p-3">
              <i *ngIf="this.server.status==='up'" class="material-icons status-circle bg-status-green">&#xE5CA;</i>
              <i *ngIf="this.server.status!=='up'" class="material-icons status-circle bg-red">&#xE14B;</i>
            </div>
            <div class="align-self-center">
              <span>Native Plugin</span>
              <br>
              <span class="grey-text d-none d-sm-block" *ngIf="this.server.status==='up'">Running</span>
              <span class="grey-text d-none d-sm-block" *ngIf="this.server.status!=='up'">Not running</span>
            </div>
          </div>
        </div>
      </div>
      <!--/.Panel-->

      <!--Panel-->
      <div class="card card-body mb-3" *ngIf="consoleStatus==='up' && stats.uptime">
        <h5 class="mb-0" [translate]="'status.uptime.title_uptime'">Uptime</h5>
        <div class="d-flex flex-row">
          <div class="p-1" [ngClass]="{'d-flex': stats.uptime.days, 'd-none d-sm-flex': !stats.uptime.days}">
            <div class="p-3">
              <i class="material-icons status-circle bg-blue">&#xE88B;</i>
            </div>
            <div class="align-self-center">
              <span [innerText]="stats.uptime.days"></span>
              <br>
              <span class="grey-text" [translate]="'status.uptime.label_days'">Days</span>
            </div>
          </div>
          <div class="d-flex p-1">
            <div class="p-3">
              <i class="material-icons status-circle bg-blue">&#xE88B;</i>
            </div>
            <div class="align-self-center">
              <span [innerText]="stats.uptime.hours"></span>
              <br>
              <span class="grey-text" [translate]="'status.uptime.label_hours'">Hours</span>
            </div>
          </div>
          <div class="p-1" [ngClass]="{'d-flex': !stats.uptime.days, 'd-none d-sm-flex': stats.uptime.days}">
            <div class="p-3">
              <i class="material-icons status-circle bg-blue">&#xE88B;</i>
            </div>
            <div class="align-self-center">
              <span [innerText]="stats.uptime.minutes"></span>
              <br>
              <span class="grey-text" [translate]="'status.uptime.label_minutes'">Minutes</span>
            </div>
          </div>
        </div>
      </div>
      <!--/.Panel-->

    </div>
  </div>

  <div class="row mt-auto">
    <div class="col-md-12 text-center mb-3 grey-text">
      <small>
        <!-- This plugin is copy and customize from @oznu. -->
      </small>
    </div>
  </div>
</div>
