<!--Main Navigation-->
<header *ngIf="$auth.theme && $auth.user">

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary scrolling-navbar">
    <a class="navbar-brand" routerLink="/">
      <img class="menu-logo" src="/assets/homebridge-logo.svg" />
      <strong>Native Mobile Plugin</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-effect waves-light" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/" [translate]="'menu.label_status'">Status</a>
        </li>
        <li class="nav-item waves-effect waves-light" routerLinkActive="active" *ngIf="$auth.user.admin">
          <a class="nav-link" routerLink="/plugins" [translate]="'menu.label_plugins'">Plugins</a>
        </li>
      </ul>

      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item waves-effect waves-light" routerLinkActive="active" placement="bottom"
          ngbTooltip="Refresh Plugin Service" container="body">
          <a class="nav-link" routerLink="/restart">
            <i class="material-icons">power_settings_new</i>
          </a>
        </li>

        <li class="nav-item dropdown" *ngIf="$auth.env.runningInDocker && $auth.user.admin">
          <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fab fa-docker"></i>
          </a>
        </li>

        <li class="nav-item dropdown" *ngIf="$auth.env.runningInLinux && $auth.user.admin">
          <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="material-icons">more_vert</i>
          </a>
        </li>

      </ul>
    </div>
  </nav>

</header>

<div class="container-fluid d-flex flex-col h-100 w-100">
  <div class="w-100">
    <router-outlet></router-outlet>
  </div>
</div>
